@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-grey: #7c7c7c;
  --bg-color: #3d3d3d;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #e9e8e4;
  font-family: "Raleway", sans-serif;
}

/* => IMAGE CONTAINER */

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.img-container {
  flex-basis: 35%;
  height: fit-content;
  /* background: url(assets/pexels-rfstudio-3819572.jpg);
  background-size: contain;
  overflow: hidden; */
}

.main-img {
  position: fixed;
  width: 35%;
}

.main-logo {
  width: 7.5%;
  position: fixed;
  top: 5%;
  left: 5%;
}

.content-section {
  flex-basis: 60%;
}

/* => MAIN CONTAINER */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 2rem;
}

.line-container {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
}

.nav-list {
  flex-basis: 70%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  padding: 0 2.5rem;
}

.links:first-of-type {
  padding-left: 0;
}

.section-1 {
  display: flex;
  margin: 2rem;
  margin-right: 0;
  margin-bottom: 1rem;
}

.s1-creativity-container {
  flex-basis: 50%;
}

.creativity-img {
  width: 100%;
}

.s1-text-container {
  flex-basis: 40%;
  display: flex;
  align-items: flex-end;
}

.s1-text {
  margin: 2rem;
  color: var(--color-grey);
  font-size: 1.5rem;
}

.social-links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.link-svg {
  width: 60%;
}

.hero-btn-section {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero-btn {
  color: white;
  background-color: var(--bg-color);
  font-weight: 600;
  font-size: 1.125rem;
  padding: 1rem 2rem;
  border: none;
}

.section-2 {
  margin: 2rem;
  display: flex;
}

.s2-features-list {
  flex-basis: 30%;
  list-style-type: none;
  position: relative;
}

.list-feature {
  position: relative;
  margin: 0;
  padding-bottom: 2em;
  padding-left: 20px;
  font-size: 1rem;
  color: var(--color-grey);
}

.list-feature:before {
  background-color: var(--color-grey);
  width: 2px;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
}

.list-feature::after {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='grey' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
}

.list-feature:first-child::after {
  content: "";
  width: 16px;
  height: 16px;
  left: -2px;
  top: 0;
  background-image: url(assets/top_point.svg);
  background-size: contain;
}

.list-feature:first-child:before {
  top: 15px;
}

.list-feature:last-child:before {
  height: 6px;
}

.lf-1 {
  color: var(--bg-color);
}
